.input-xlarge {
	width: 500px;
}

#content {
	margin: auto;
	width: 1200px;
	margin-top: 20px;
}

.files {
	width: 210px;
	margin-right: 10px;
}

canvas {
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

#editor {
	margin-left: 260px;
}

.help-block {
	color: darkgray;
	font-size: 90%;
	margin-left: 10px;
}

/* Image editor styles */

#canvas, #thumbs {
	line-height: 1px;
	margin-bottom: 15px;
}

#canvas canvas, #thumbs canvas {
	position: relative;
	cursor: pointer;
	border: 1px solid black;
	margin: -1px;
}

#thumbs canvas.active {
	border-color: red;
}

/* not sure where this is used */

.popup_container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.popup_background {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 15;
	background-color: rgba( 0, 0, 0, 0.5 );
}

.popup_content {
	position: relative;
	margin: 10% auto;
	z-index: 20;
	overflow: auto;
	max-height: 80%
}

.controls > .btn {
	margin-right: 10px;
}

.modal-body {
	max-height: none;
}
