{% if not error %}
	<div id="emulator">
		<div id="gfx">
			<canvas id="mainCanvas" style="width: 480px; height: 432px;"></canvas>
		</div>

		<ul>
			<li><b>Button A:</b> X/J</li>
			<li><b>Button B:</b> Z/Y/Q</li>
			<li><b>Select:</b> Shift</li>
			<li><b>Start:</b> Enter</li>
		</ul>

		<p class="copy">
			Based on <a href="https://github.com/taisel/GameBoy-Online"
			            target="_blank">https://github.com/taisel/GameBoy-Online</a>
		</p>

		<p>
			<a class="btn btn-primary" href="{{ rom }}">Download</a>
		</p>
	</div>

	<script>
		window.onload = function () {
			loadGame("{{ rom }}");
		}
	</script>
{% endif %}