<div class="emulator">
	<div class="C">

		<canvas id="LCD" width="160" height="144" style="width: 480px; height: 432px;"></canvas>
		<div id="STATUS">Pause</div>
		<div id="DEBUG">&nbsp;</div>

		<input id="TOGGLE_DEBUGGER" type="checkbox" onclick="gb_Toggle_Debugger(this.checked);"/>
		<label for="TOGGLE_DEBUGGER">debugger</label> | <a href="credits.htm">credits</a>
	</div>

	<div id="DEBUGGER"></div>

	<div class="C">
		<strong>X</strong>: Button A<br/>
		<strong>Z</strong>: Button B<br/>
		<strong>A</strong>: Start<br/>
		<strong>S</strong>: Select<br/>
	</div>

	<script type="application/x-javascript">

		var gbSeconds = 0;
		var gbFrames = 0;

		function gb_Show_Fps() {
			gbFrames += gbFPS;
			gbSeconds++;
			$('STATUS').innerHTML =
					'Running: ' + gbFPS + ' ' +
					'fps - Average: ' + (gbFrames / gbSeconds).toFixed(2) + ' - ' +
					'Bank switches/s: ' + gbBankSwitchCount;
			gbFPS = 0;
			gbBankSwitchCount = 0;
		}

		function gb_Toggle_Debugger(show) {
			$('DEBUGGER').style.height = (show) ? 'auto' : '0px';
		}

		window.onload = function () {
			gb_Insert_Cartridge('{{ rom }}', true);
			gb_Toggle_Debugger(false);
		}

	</script>
</div>