<div class="modal">
	<div class="modal-header">
		<h3>Projects</h3>
	</div>

	<div class="modal-body">
		<h4>Open Project</h4>

		<ul>
		{% for project in projects %}
			<a href="?project={{ project }}" class="project">{{ project }}</a>
		{% endfor %}
		</ul>


		<hr>
		<h4>Create Project</h4>

		<form method="post">

			<div class="control-group">
				<label class="control-label" for="inputName">Name</label>
				<div class="controls">
					<input class="input-xlarge" type="text" id="inputName" placeholder="Name" name="project_name">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="inputDescription">Description</label>
				<div class="controls">
					<textarea class="input-xlarge"  id="inputDescription" placeholder="Description" name="project_description"></textarea>
				</div>
			</div>

		</form>


	</div>

	<div class="modal-footer">
		<button type="submit" class="btn btn-primary">Login</button>
	</div>
</div>